{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/presentacion.css' %}">
    <title>Document</title>
</head>
<style>
    .error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 15%;
    }
    .error h1 {
        font-size: 75px;
    }
</style>
<body>
    <div class="error">
        <h1>404</h1>
        <h2>Contenido no encontrado</h2>
    </div>
</body>
</html>