{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Military Carnet{% block title %}{% endblock title %}</title>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
  </head>
  <body class="">

    {% block content %}

    {% endblock content %}


    
    <!--Data table --> 
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>   
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script> 
    


    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    
    <script src="{% static 'scripts/Scripts.js' %}"></script>
    <script src="{% static 'scripts/htmx.js' %}"></script>

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>


    

  </body>
</html>